.about-me {
    display: flex;
}

.about-me img {
    width: 400px;
    height: auto;
    border: solid 8px lightgrey;
    border-radius: 5px;
    margin: 30px 15px 30px 15px;
    padding: 5px 5px 5px 5px;
}

.desc {
    margin: 30px 15px 30px 15px;
}

.row {
    padding-top: 10px;
    padding-bottom: 10px;
}

.langs-and-skills {
    text-align: left;
}

.education-and-work {
    text-align: left;
}

.titles {
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 5px;
}

.projects p {
    font-size: 80%;
}

.card-size {
    width: 18rem;
}

.projects-title {
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 5px;
}

.projects-subtitle {
    text-align: center;
}

.email {
    margin: 15px 15px 10px 15px;
    text-align: center;
}

.email a {
    font-size: 120%;
    text-decoration: none;
}

.email a:hover {
    text-decoration: underline;
}

.links-header {
    margin: 15px 15px 10px 15px;
    text-align: center;
}

.bullet-points li {
    margin: 10px 0px;
}

#contacts-links {
    font-size: 130%;
    text-align: center;
}

#about-me-header {
    font-weight: bold;
}

body {
    font-family: "Courier New";
}
