---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
const posts = (await getCollection("blog")).sort(
    (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---
<Layout title="Welcome to my blog!">
    <h1>Welome to my blog!</h1>
    <ul>
        {
            posts.map((post) => (
                <li>
                    <a href="`/blog/${post.slug}/`"></a>
                    <h4>{post.data.title}</h4>
                    <p>{post.data.pubDate}</p>
                </li>
            ))
        }
    </ul>
</Layout>