---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button";
---

<Layout title="Portfolio" header="Welcome to my portfolio!">
    <p>Hello, world!</p>
    <Button />
</Layout>