---
import Layout from "../layouts/Layout.astro";
import ConstructionSign from "../components/ConstructionSign.tsx";
import Intro from "../components/Intro/Intro.tsx";
import Background from "../components/Background/Background.tsx";
import SectionHeader from "../components/SectionHeader.jsx";
import HorizontalRule from "../components/HorizontalRule.tsx";
import ProjectSection from "../components/Projects/Projects.tsx";
import Timeline from "../components/Experience/Timeline.jsx";
import Contact from "../components/Contact/Contact.tsx";
---

<Layout title="Gerard Gandionco">
	<!-- Construction sign -->
	<!-- <ConstructionSign /> -->
	<div class="lg:32 mx-auto px-6 text-center md:container sm:px-16 md:px-24 md:text-left">
		<!-- Introduction -->
		<section id="intro" class="mb-12 flex h-screen flex-col justify-center">
			<Intro />
		</section>

		<!-- Background -->
		<section id="background" class="mb-12 flex h-full flex-col justify-center">
			<Background />
		</section>

		<!-- Experience -->
		<section id="experience">
			<div>
				<SectionHeader text="Experience" />
				<HorizontalRule />
				<Timeline />
			</div>
		</section>

		<!-- Projects -->
		<section id="projects" class="mb-12">
			<div>
				<SectionHeader text="My Projects" />
				<HorizontalRule />
				<ProjectSection />
			</div>
		</section>

		<!-- Contact -->
		<section id="contact" class="mb-12 flex h-96 flex-col justify-center">
			<div>
				<SectionHeader text="Contact me" />
				<HorizontalRule />
				<Contact />
			</div>
		</section>
	</div>
</Layout>
