---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.jsx";
import Project from "../components/Project.jsx";
---

<Layout title="Home | Gerard Gandionco">
	<div class="text-center sm:text-left md:container mx-auto px-6 sm:px-16">
		<!-- Introduction -->
		<section id="intro" class="my-12">
			<div>
				<div>
					<p>Hey, my name is...</p>
					<h1 class="text-6xl font-bold">Gerard Gandionco</h1>
				</div>
				<hr class="my-4" />
				<p>
					I'm a <span>full-stack developer</span> with a focus on <span>back-end</span>
					 development. I am passionate about creating interesting projects in my free
					time using <span>Python</span> and an array of other languages.
				</p>
				<div class="my-4">
					<Button url="#" className="btn btn-neutral" text="Get in touch" />
					<Button url="/portfolio_resume.pdf" className="btn" text="My resume" />
				</div>
			</div>
		</section>
		<!-- Background -->
		<section id="background" class="my-12">
			<div>
				<h2>Who am I?</h2>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi dolores, quia
					nostrum accusamus excepturi atque, deleniti eius inventore qui ex adipisci
					aliquam blanditiis beatae at molestiae earum quasi sed explicabo.
				</p>
			</div>
			<div>
				<p>
					Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium qui animi
					recusandae sed saepe velit aspernatur rem consequatur! Velit asperiores magnam
					voluptatum atque eum modi qui ducimus beatae dolores facilis!
				</p>
			</div>
		</section>
		<!-- TODO refactor elements to source from content -->
		<!-- Projects -->
		<section id="projects" class="my-12">
			<Project
				title="Project 1"
				tools={["Tool 1", "Tool 2", "Tool 3"]}
				description="lorem ipsum dolor sit amet"
				imageUrl="#"
				imageAlt="TODO image"
				sourceUrl="#"
				demoUrl="#"
			/>
		</section>
		<!-- Contact -->
		<section id="contact" class="my-12">
			<div>
				<h3>Contact me!</h3>
				<p>
					Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse atque pariatur
					dolor odit, quae reiciendis eum corrupti obcaecati rerum saepe facere cum
					blanditiis quisquam doloremque quasi autem quas iste unde.
				</p>
			</div>
		</section>
	</div>
</Layout>
