---
const { title, header } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <nav>
            <a href="/">Home</a>
            <a href="#">About Me</a>
            <a href="#">Projects</a>
            <a href="/blog/blog-example">Blog</a>
            <a href="#">Contact</a>
        </nav>
        <h1>{header}</h1>
        <article>
            <slot />  <!-- Is replaced for main page content. -->
        </article>
        <footer>Some footer</footer>
    </body>
</html>