---
import Header from "../components/Header.jsx";
import Footer from "../components/Footer.jsx";

import "@fontsource/roboto-mono";
import "@fontsource/roboto-mono/700.css"; // Bold.
import "@fontsource/roboto-mono/500.css"; // Medium.

const { title } = Astro.props;
---

<html lang="en" class="scroll-smooth focus:scroll-auto">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<!-- TODO the navbar -->
		<!-- <Header /> -->
		<main>
			<!-- Is replaced for main page content. -->
			<slot />
		</main>
		<Footer year={new Date().getFullYear()} />
	</body>
</html>

<style>
	html {
		font-family: "Roboto Mono";
		background-color: #071427;
		opacity: 1;
		background-image: radial-gradient(#00255c 1.55px, transparent 1.55px),
			radial-gradient(#00255c 1.55px, #071427 1.55px);
		background-size: 62px 62px;
		background-position:
			0 0,
			31px 31px;
	}
</style>
